<!--Save Button-->
<div>
    <!--<a href="/home"><button class=" btnOrange pull-left btn btn-warning btn-lg btn-responsive">Home</button></a>-->
    <button class=" btnGreen pull-right btn btn-success btn-lg btn-responsive" ng-click="saveData()">
        <span class="glyphicon glyphicon-save"></span> Save Gig</button>
</div>
<br>

<!--FORMS-->
<!--set ng-model="data.______" to send all inputs to client in one batch -->
<form name="form" class ="styleForm">
    <label>Group</label>
        <input type="text" class="form-control" name ="group" placeholder="group"  ng-model="data.group" required>

    <!--<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>-->

    </div>
    <div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control" name ="address" placeholder="address"  ng-model="data.address">
        <a class="findAddress" target="_blank" ng-href="https://www.google.com/maps/place/{{data.address}}">
            Directions<span class="glyphicon glyphicon-map-marker glyMap"></span></a>
    </div>
    <div class="form-group">
        <label>Date & Time</label>
        <input type="datetime-local" class="form-control" name="eventTime" placeholder="date" date-input, ng-model="data.eventTime">
    </div>
    <div class="form-group">
        <label>End Time</label>
        <input type="time" class="form-control" placeholder="end time" ng-model="data.endTime">
    </div>
    <div class="form-group">
        <label>Gone Until</label>
        <input type="date" class="form-control" placeholder="gone until" ng-model="data.goneUntil">
    </div>
    <div class="form-group">
        <label>To-do</label>
        <input type="text" class="form-control" placeholder="to-do" ng-model="data.todo">
    </div>
<hr>
     <!--Pay-->
    <span class="glyphicon glyphicon-piggy-bank glyPig"></span>
    <label>Pay</label>
    <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="data.pay">
        <span class="input-group-addon">.00</span>

    </div>


    <!--radio buttons-->
<hr>
    <div class="form-group">
        <label>Charts</label>
        <div>

            <!--set radio button w/ ng-value= 'true' so it reads properly on DB-->
        <label class="radioBtn"><input type="radio" name="charts" ng-model="data.Charts"  ng-value="true">Yes</label>
        <label><input type="radio" name="charts" ng-model="data.Charts" ng-value="false">No</label>
        </div>
    </div>


    <hr>
    <div class="form-group">
        <label>Per Diem</label>
        <div>

            <!--set radio button w/ ng-value= 'true' so it reads properly on DB-->
            <label class="radioBtn"><input type="radio" name="perDiem" ng-model="data.PDiem" ng-value="true">Yes</label>
            <label><input type="radio" name="perDiem" ng-model="data.PDiem" ng-value="false">No</label>
        </div>
    </div>
</form>